.off {
    color: red;
}

.on {
    color: green;
}

.tableDiv {
    text-align: center;
}

td p {
    text-align: center;
}

table {
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

p {
    text-align: center;
}

#paholder {
    font-weight: bold;
}